<div class="gap-36">
  <div
    *ngFor="let movie of movies"
    class="p-10 flex flex-col items-center bg-lightGreen rounded-lg"
  >
    <img
      class="w-full h-full rounded-lg"
      src="../../../assets/movie-posters/movie-poster.jpg"
      alt="Image of the movie poster"
    />
    <div class="flex items-center flex-col">
      <p class="my-4 text-white text-xl">{{ movie.name }}</p>
      <p class="my-2 text-white">{{ movie.month }}</p>
      <button
        class="mt-4 bg-orange hover:bg-darkOrange text-white font-bold py-2 px-4 rounded"
      >
        Review
      </button>
    </div>
  </div>
</div>
